.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/*.ipynb_checkpoints/
.venv/
.venv*/
__pycache__
*/__pycache__/*
**/__pycache__/
*/.archive/*
**/.archive/
*.gif
*.npy
*.zip
.vscode/
*/.vscode/*
**/.vscode/
**/__jaxcache__/*
site/
data/data.zip.001
data/data.zip.002
data/data.zip.003
data/data.zip.004
data/data.zip.005
data/data.zip.006
data/data.zip.007
data/data.zip.008
data/data.zip.009
data/data.zip.010
data/data.zip.011
data/data.zip.012
regen/*
